*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/park.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover {
  background: #fff;
  color: #000;
}

ul li.active a{
  background: #fff;
  color: #000;
}

.logo img {
  float: left;
  width: 180px;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}

.main {
  max-width: 1200px;
  margin: auto;
  margin-right: 10px;
}

.title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  color: #fff;
  font-size: 50px;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  height: auto;
  width:100vw;
  font-family: "Open Sans";
  padding-top: 5px;
  color: #fff;
}

/* .footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align:  center;
} */

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px
}

.socials a{
  text-decoration: none;
  color:#fff;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 16px;
  word-spacing: 2px;
  text-transform: capitalize;
}


@mediascreenand(max-device-width:400px){
　　.column{
　　float:none;
　　width:auto;
　　}
　　#sidebar{
　　display:none;
　　}
　　}
img,object{max-width:100%;}
