/* @@import url("http://fonts.googleapis.com/css?family=Poppins&display=swap"); */

*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

body {
  background-color: #34495e;
}

header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color:  #34495e
}

.main {
  max-width: 1200px;
  margin: auto;
  margin-right: 10px;
  font-size: 20px;
  margin-top: 5px;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover {
  background: #fff;
  color: #000;
}

ul li.active a{
  background: #fff;
  color: #000;
}

/* .team-section {
  overflow: hidden;
  text-align: center;
  background: #34495e;
  padding: 60px;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 1240px;
  height: 600px;
  transform: translate(-50%, -50%);
}

.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color:white;
  font-size: 40px;
}

.border {
  display: block;
  margin: auto;
  width: 120px;
  height: 3px;
  background: #3498db;
  margin-bottom: 20px;
}

.ps {
  margin-bottom:40px;
}

.ps a {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}

.ps a img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}

.ps a:hover > img {
  filter: none;
}

.section {
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
}

.section:target{
  height: auto;
}

.name{
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

@mediascreenand(max-device-width:400px){
　　.column{
　　float:none;
　　width:auto;
　　}
　　#sidebar{
　　display:none;
　　}
　　}
img,object{max-width:100%;} */

.container {
  margin: 20px 40px;
  color:white;
}

.heading {
  font-size: 60px;
  color:white;
}

.heading span{
  font-style:  italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile {
  flex-basis: 260px;
}

.profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 35px;
  margin-left: 35px;
}

.profile p{
  font-size: 18px;
  margin-top: 20px;
  text-align: justify;
}

.model-title {
  font-size: 60px;
  color:white;
  margin-top: 50px;
}

.modelpic {
  height: 1000px;
  width: 1000px;
  margin-top: 20px;
}
